.box {
    position: relative;
    margin: 1em 0 2.5em;
}

.logo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 10px 20px grey;
    animation: spin 2.5s ease-in infinite;
}

/* .logo:hover {
    animation: spin 1.8s ease-in-out infinite;
} */

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(45deg);
        box-shadow: 15px 10px 20px red;
    }
    40% {
        transform: rotateY(0deg);
        box-shadow: 0 10px 20px grey;
    }
    80% {
        transform: rotatey(-45deg);
        box-shadow: -15px 10px 20px blue;
    }
    100% {
        transform: rotateY(0deg);
    }
}